#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    behaviors {
        encoder: encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&inc_dec_kp C_VOL_UP>, <&inc_dec_kp C_VOL_DN>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A 
                &kp B &kp B &kp B &kp B &kp B &kp B &kp B &kp B &kp B &kp B 
                &kp C &kp C &kp C &kp C &kp C &kp C &kp C &kp C &kp C &kp C 
                &kp D &kp D &kp D &kp D &kp D &kp D &kp D &kp D &kp D &kp D 
                &kp E &kp E &kp E &kp E &kp E &kp E &kp E &kp E &kp E &kp E 
                &kp F &kp F &kp F &kp F &kp F &kp F &kp F &kp F &kp F &kp F 
                &kp G &kp G &kp G &kp G &kp G &kp G &kp G &kp G &kp G &kp G  
                &kp H &kp H &kp H &kp H &kp H &kp H &kp H &kp H &kp H &kp H 
                &kp I &kp I &kp I &kp I &kp I &kp I &kp I &kp I &kp I &kp I 
                &mo 1 &mo 1 &mo 1 &mo 1 &mo 1 &mo 1 &mo 1 &mo 1 &mo 1 &mo 1
            >;
                sensor-bindings = <&encoder>;
        };
        layer_1 {
            bindings = <
                &rgb_ug RGB_ON &rgb_ug RGB_OFF &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A 
                &kp B &kp B &kp B &kp B &kp B &kp B &kp B &kp B &kp B &kp B 
                &kp C &kp C &kp C &kp C &kp C &kp C &kp C &kp C &kp C &kp C 
                &kp D &kp D &kp D &kp D &kp D &kp D &kp D &kp D &kp D &kp D 
                &kp E &kp E &kp E &kp E &kp E &kp E &kp E &kp E &kp E &kp E 
                &kp F &kp F &kp F &kp F &kp F &kp F &kp F &kp F &kp F &kp F 
                &kp G &kp G &kp G &kp G &kp G &kp G &kp G &kp G &kp G &kp G  
                &kp H &kp H &kp H &kp H &kp H &kp H &kp H &kp H &kp H &kp H 
                &kp I &kp I &kp I &kp I &kp I &kp I &kp I &kp I &kp I &kp I 
                &mo 1 &mo 1 &mo 1 &mo 1 &mo 1 &mo 1 &mo 1 &mo 1 &mo 1 &mo 1
            >;
                sensor-bindings = <&encoder>;
        };
    };
};
