#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A 
                &kp B &kp B &kp B &kp B &kp B &kp B &kp B &kp B &kp B &kp B &kp B &kp B 
                &kp C &kp C &kp C &kp C &kp C &kp C &kp C &kp C &kp C &kp C &kp C 
                &kp D &kp D &kp D &kp D &kp D &kp D &kp D &kp D &kp D &kp D &kp D 
                &kp E &kp E &kp E &kp E &kp E &kp E &kp E &kp E &kp E &kp E 
            >;
                sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};
