# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CGSV2_LEFT

config ZMK_KEYBOARD_NAME
    default "Cgsv2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CGSV2_LEFT || SHIELD_CGSV2_RIGHT

config ZMK_SPLIT
    default y

endif


