# Copyright (c) 2020 Pete Johanson, Kurtis Lew
# SPDX-License-Identifier: MIT

if SHIELD_V2_LEFT

config ZMK_KEYBOARD_NAME
    default "v2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_V2_LEFT || SHIELD_V2_RIGHT

config ZMK_SPLIT
    default y

endif
